form(
	ng-submit="evento.submit()"
	ng-hide="exitoso"
	name="isf"
	novalidate
)
	input(
		required
		type='text'
		name='nombre'
		placeholder='Nombre'
		ng-model="evento.nombre"
		ng-minlength=3
		ng-maxlength=100
	)
	.login-help(ng-show="isf.nombre.$error.minlength") Nombre muy corto
	.login-help(ng-show="isf.nombre.$error.maxlength") Nombre muy largo
	input(
		required
		type='text'
		name='descripcion'
		placeholder='Descripcion'
		ng-model="evento.descripcion"
		ng-minlength=3
		ng-maxlength=100
	)
	.login-help(ng-show="isf.descripcion.$error.minlength") Descripcion muy corta
	.login-help(ng-show="isf.descripcion.$error.maxlength") Descripcion muy larga

	input(
		required
		ez-datetime-control
		type='text'
		name='fechaInicio'
		placeholder='Inicio del evento'
		ng-model="evento.fechaInicio"
		min-date="evento.fechaFin"
	)
	p {{ evento.fechaInicio.$error}}
	input(
		required
		ez-datetime-control
		type='text'
		name='fechaFin'
		placeholder='Finalización del evento'
		ng-model="evento.fechaFin"
		min-date="evento.fechaInicio"
	)
	p {{ evento.fechaFin.$error}}

	input(
		required
		type='number'
		name='costo'
		placeholder='Costo'
		ng-model="evento.costo"
		max=2147483647
		min=0
	)
	.login-help(ng-show="isf.costo.$error.min") No podemos dar dinero por evento
	.login-help(ng-show="isf.costo.$error.max") No podemos cobrar tanto

	input(
		required
		type='number'
		name='cupos'
		placeholder='Cupos ofertados'
		ng-model="evento.cupos"
		max=2147483647
		min=1
	)
	.login-help(ng-show="isf.cupos.$error.min") Corrija los cupos disponibles
	.login-help(ng-show="isf.cupos.$error.max") No hay sillas para tanta gente

	input.login.login-submit(
		type='submit'
		name='crear'
		value='Crear'
		ng-disabled="isf.$invalid"
		ng-show="crear"
	)
	input.login.login-submit(
		type='submit'
		name='actualiza'
		value='Actualizar'
		ng-disabled="isf.$invalid"
		ng-show="!crear"
	)
	.login-help(ng-show="isf.nombre.$error.required") Escriba el nombre del taller
	.login-help(ng-show="isf.descripcion.$error.required") Escriba la descripcion
	.login-help(ng-show="isf.fechaInicio.$error.required") Indique la fecha de inicio
	.login-help(ng-show="isf.fechaFin.$error.required") Indique la fecha de cierre
	.login-help(ng-show="isf.costo.$error.required") Indique el costo del taller
	.login-help(ng-show="isf.cupos.$error.required") Indique el numero de cupos ofertados
	.login-help(ng-show="con.isError") {{ evento.error}}
	button(ng-hide="crear" ng-click="eliminar()") Eliminar
	hr
	btabla()