//- index.jade
extends ./user
block variables
	- npApp = "app"
	- npController= "admin"

block scriptHead
	//- el nombre sería así
	script(src="js/a.js")
block devScriptBody
	script(src="js/control/admin.js")
	script(src="js/control/admin/inicio.js")
	script(src="js/control/admin/eventos.js")
	script(src="js/control/admin/usuarios.js")

block title
	title Bienestar - Administración

block navDerecha
	li.logout
		a(href="#/usuario.html") Entrar como usuario

block navSideBar
	li
		a(href="#/usuarios") Gestion de usuarios
	li
		a(href="#/evento/convocatorias") Convocatorias
	li
		a(href="#/evento/cursos") Cursos
	li
		a(href="#/evento/talleres") Talleres
	li
		a(href="#/informe") Informes

block templates
	script(
		type="text/ng-template"
		id="inicio-tmplt"
	)
		h2 {{pagina.titulo}} {{pagina.subtitulo}}
		btabla(info="pagina.talleresRecientes")
		btabla(info="pagina.cursosRecientes")
		btabla(info="pagina.convocatoriasRecientes")
		btabla(info="pagina.usuariosRecientes")

	script(
		type="text/ng-template"
		id="tablas-tmplt"
	)
		h2 {{pagina.titulo}} {{pagina.subtitulo}}
		btabla(info="pagina.tabla")
		button(
			ng-show="pagina.pos > 1"
			ng-click="pagina.get(-1)"
		) Anterior
		span {{pagina.pos}} de {{pagina.total | ceil}} 
		button(
			ng-show="pagina.pos < pagina.total"
			ng-click="pagina.get(1)"
		) Siguiente