//- index.jade
extends ./main
block variables
	- npApp = "app"

block devScriptHead
	script(src="js/servicios/conexion.js")
block scriptHead
	
block devScriptBody
	script(src="js/control/eventos.js")

block title
	title Bienestar

block content
	.login-card(
		ng-controller="eventos"
	)
		h1 Log-in Bienestar
		//-
			action="asd"
			method="post"
		form(
			ng-submit="tal.submit()"
			ng-hide="exitoso"
			name="isf"
			novalidate
		)
			input(
				required
				type='text'
				name='nombre'
				placeholder='Nombre'
				ng-model="tal.nombre"
				ng-minlength=3
				ng-maxlength=100
			)
			.login-help(ng-show="isf.nombre.$error.minlength") Nombre muy corto
			.login-help(ng-show="isf.nombre.$error.maxlength") Nombre muy largo
			input(
				required
				type='text'
				name='descripcion'
				placeholder='Descripcion'
				ng-model="tal.descripcion"
				ng-minlength=3
				ng-maxlength=100
			)
			.login-help(ng-show="isf.descripcion.$error.minlength") Descripcion muy corta
			.login-help(ng-show="isf.descripcion.$error.maxlength") Descripcion muy larga

			input(
				required
				type='date'
				name='fecha'
				placeholder='Fecha Inicio Registro'
				ng-model="tal.fechaInicio"
				ng-minlength=3
			)

			input(
				required
				type='date'
				name='fecha'
				placeholder='Fecha Fin Registro'
				ng-model="tal.fechaFin"
				ng-minlength=3
			)

			input(
				required
				type='text'
				name='cupos'
				placeholder='Costo'
				ng-model="tal.costo"
			)

			input(
				required
				type='text'
				name='cupos'
				placeholder='Cupos ofertados'
				ng-model="tal.cupos"
				ng-minlength=3
			)
			.login-help(ng-show="isf.cupos.$error.minlength") Descripcion muy corta

			input.login.login-submit(
				type='submit'
				name='crear'
				value='Crear'
				ng-disabled="isf.$invalid"
			)
			.login-help(ng-show="isf.nombre.$error.required") Escriba el nombre del taller
			.login-help(ng-show="isf.descripcion.$error.required") Escriba la descripcion
			.login-help(ng-show="isf.fechaInicio.$error.required") Indique la fecha de inicio
			.login-help(ng-show="isf.fechaFin.$error.required") Indique la fecha de cierre
			.login-help(ng-show="isf.costo.$error.required") Indique el costo del taller
			.login-help(ng-show="isf.cupos.$error.required") Indique el numero de cupos ofertados
			.login-help(ng-show="con.isError") {{ con.error}}
			a(href	='/') Iniciar sesión
		div(ng-show ="exitoso")
			h2 {{con.nombre}} Registro exitoso de la convocatoria, ya puedes
				a(href	='/') ver y administrar este evento
