//- index.jade
extends ./main
block variables
	- npApp = "app"

block devScriptHead
	script(src="js/conexion/conexion.js")
	script(src="js/control/landing.js")

block scriptHead
	script(src="landing.js")


block title
	title Bienestar

block content
	.sesion.iniciar(
		ng-controller="landing"
	)
		form(
			ng-submit="iniciarSesion()"
		)
			h1 Inicia sesión
			input(
				type="text"
				name="usuario"
			)
			input(
				type="password"
				name="contrasena"
			)
			input(
				type="submit"
				value="Entrar"
			)
